* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.controls {
    background-color: #444444;
    padding: 10px;
    border-radius: 10px; 
    position: absolute;
    left: 5px;
    top: 5px;
}

button {
    background-color: grey;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    border: solid 1px transparent;
    color: white;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    color: white;
    font-size: 110%;
}